
/* 폰트 적용 전체 */
*{
    font-family: 'Noto Sans KR', sans-serif;
}

/* 카테고리 전체 div  */
.main {
    display: flex;
    align-items: flex-start;
    margin-left: 60px;
    margin-top: 3%;
    background-color: #ffffff;
    border-radius: 5px;
}

.main-container{
	width: 100%;
}

.freeboardcontent{
	width: 75%;
}

.freeboardcontent-top {
	display: flex;
}

/*  게시판 목록 */
.board {
    display: flex;
    flex-direction: column;
    width: 35%;
}

/* 정보게시판 자유게시판 DIV*/
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

/* 게시판 부분 DIV */
.info-container > h3 a {
    text-decoration: none; 
    color: #333; 
    font-size: 18px; 
    transition: all 0.3s ease; 
}

/* 정보 게시판 선택 백그라운드 */
.info-board{
    
    border-radius: 8px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 50px;
}

/* 자유게시판 선택안되어 있을때 */
.free-board{
	background-color: #FFFACD;
	border-radius: 8px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 50px;
}

/* 게시판에 마우스올리면 호버효과 */
.info-container > h3 a:hover {
    color: #EC8F5E;
    transform: scale(1.1); 
}
 

.freeboardcontent-top div {
    margin-bottom: 10px;
}

.freeboardcontent-top {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px; /* 요소 간 간격 */
    width: 95%;
    margin-bottom: 20px;
}

/* 셀렉트 박스 스타일 */
.freeboardcontent-top select {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 100px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


/* 셀렉트 박스 호버 스타일 */
.freeboardcontent-top select:hover {
    border-color: #888;
}

/* 셀렉트 박스 포커스 스타일 */
.freeboardcontent-top select:focus {
    outline: none;
    border-color: #555;
}

/* 글쓰기 버튼 오른쪽으로 정렬 */
.post-writer-button-div {
    margin-left: auto;
}

/* 글쓰기버튼 */
.post-writer-button{
    font-size: 16px;
    background-color:#EEF296;
    color: #424242;
    border-radius: 8px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}











/* 자유 게시판 게시글 전체 스타일 */
.free-post {
    padding: 15px;
    border-bottom: 2px solid #eaeaea;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 15px;
    transition: all 0.3s ease;
    width: 100%;
}

/* 자유 게시판 게시글 호버 효과 */
.free-post:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

/* 자유 게시판 링크 스타일 */
.free-post a {
    color: #333;
    text-decoration: none;
}

/* 카테고리 태그 스타일 */
.free-categorytag {
    font-size: 14px;
    color: #6c757d;
    width: auto;
}

/* 자유 게시판 메인 컨테이너 */
.free-post-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 자유 게시판 이미지 스타일 */
.free-post-main img {
    max-width: 150px;
    height: auto;
    margin-left: auto;
    border-radius: 4px;
}

/* 자유 게시판 제목 */
.free-post-content h3 {
    font-size: 20px;
    color: #212529;
    font-weight: 600;
}

/* 자유 게시판 본문 */
.free-post-content p {
    font-size: 16px;
    color: #495057;
}

/* 자유 게시판 작성자 */
.free-post-writer {
    font-size: 14px;
    color: #213b3b;
    margin-top: 30px;
}

/* 자유 게시판 지역 */
.free-post-region {
    font-size: 14px;
    color: #adb5bd;
}

/* 자유 게시판 푸터 */
.free-post-footer {
    font-size: 12px;
    color: #6c757d;
}

/* 조회수 및 댓글 컨테이너 */
.view-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* 댓글 수 */
.free-post-comment {
    margin-right: 10px;
    font-size: 14px;
    color: #343a40;
}

/* 댓글 아이콘 */
.free-comment-icon {
    width: 20px;
    height: auto;
    vertical-align: middle;
}

/* 자유 게시판 작성일 */
.free-post-date {
    font-size: 12px;
    color: #6c757d;
}













/* 검색 전체 폼 */
.search-form {
    width: 82%;
    margin-top: 20px;
}

/*검색 유형 선택*/
.search-select {
    padding: 5px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 5px;
    height: 38px;
}

/*검색 내용*/
.search-input {
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%; 
    height: 35px;
}

/*검색버튼*/
.search-button {
    padding: 5px 15px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #83A2FF; /* 주제색에 맞게 조정 */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 38px;
    margin-left: 2px;
}

/*검색버튼 호버*/
.search-button:hover {
    background-color: #6289ff;
}

/*검색버튼 이미지*/
.search-button img{
    height: 20px;
}

/*페이지 부분*/
.pagination-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 20px;
}

.pagination {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.pagination li {
    margin-right: 5px;
}

.pagination li a, .pagination li span {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}