
*{
    font-family: 'Noto Sans KR', sans-serif;
}

.main {
    display: flex;
    align-items: flex-start;
    margin-left: 100px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 5%;
}


#postForm{
	width: 50%;
}

.board {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

/* 정보게시판 자유게시판 DIV*/
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

/* 게시판 부분 DIV */
.info-container > h3 a {
    text-decoration: none; 
    color: #333; 
    font-size: 18px; 
    transition: all 0.3s ease; 
}

/* 정보 게시판 선택 백그라운드 */
.info-board{
    background-color: #FFFACD;
    border-radius: 8px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 50px;
}

/* 자유게시판 선택안되어 있을때 */
.free-board{
    padding: 10px;
    padding-left: 10px;
    padding-right: 50px;
}

/* 게시판에 마우스올리면 호버효과 */
.info-container > h3 a:hover {
    color: #EC8F5E;
    transform: scale(1.1); 
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.info-container > h3 a {
    text-decoration: none; 
    color: #333; 
    font-size: 18px; 
    transition: all 0.3s ease; 
}

.info-board{
    background-color: #FFFACD;
    border-radius: 8px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 50px;
}

.free-board{
    border-radius: 8px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 50px;
}


.write-title{
    margin: 5%;
    margin-bottom: 4px;
    margin-left: 0%;
    margin-right: 16px;
    padding: auto;
}

#post-title {
    width: 100%;
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    border: 1px solid #c2c2c2; 
}