@charset "UTF-8";
*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: coral;
}
.upperBar {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.category{
	display: flex;
}
.category>input{
	padding: 0;
	margin: 0;
}
.category>input:first-child{
	text-align: left;
	width: 70px;
}
.category>input:last-child{
	text-align: left;
	width: 100px;
}
div{
	border-radius: 5px;
}
button:hover{
    scale: 1.02;
}
button{
	cursor: pointer;
	background-color: white;
	box-shadow: rgba(240, 74, 74, 0.1) 0px 4px 12px;
	border: none;
	border-radius: 5px;
}
.submitContainer input[type=submit]{
	border-radius: 5px;
}
.lessonInfo{
	
}
.form-select{
	width: 150px;
	height: 35px;
}
.imgSubmitSection{
	width: 100%;
	margin: 2px;
}
.imgContainer{
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.detailImg{
	width: 100%;
	height: 100%;
	position: relative;
}
.saveLesson{
	position: absolute;
	left: 20px;
	top: 20px;
}
.detailImg>img{
	padding: 5px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	margin: 5px;
}
.upperBar>div>button{
	width: 100px;
	height: 40px;
}
.submitContainer{
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.labelBox{
	text-align: center;
}
.labelBox>label{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}
.lessonSubmit{
	position : relative;
	height: 100%;
}
select{
	width: 75px;
	border: none;
	box-shadow: rgba(240, 74, 74, 0.1) 0px 4px 12px;
}
input[type=submit]{
	position : absolute;
	bottom : 0px;
	width: 100%;
	border: none;
	box-shadow: rgba(240, 74, 74, 0.1) 0px 4px 12px;
	cursor: pointer;
	background-color: white;
	height: 50px;
	color: coral;
}

.reviewInfo{
	display: flex;
	justify-content: center;
	height: 50px;
	align-items: center;
}

.detailInfoBar{
	height: 50px;
	align-items: center;
	box-shadow: rgba(240, 74, 74, 0.1) 0px 4px 12px;
}
.detailInfo{
	height: 500px;
	box-shadow: rgba(240, 74, 74, 0.1) 0px 4px 12px;
	align-items: center;
}
.detailsContainer{
	display: flex;
	width: 100%;
	margin-bottom: 15px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.detailsContainer_title{
	padding: 20px;
	width: 20%;
	height: 100%;
}

.detailsContainer_content{
	padding: 20px;
	width: 80%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	
}
.detailsContainer_content>div{
	display: flex;
	justify-content: space-between;
	margin: 5px;
	padding: 20px;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: #FAFAFC;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.detailsContainer_content-inputpost{
	display: flex;
	flex-direction: column;
}
.rewiewContainer{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px;
	margin-bottom: 15px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.avataMemberStarDate{
	display: flex;
	align-items: center;
}
.memberStarDate{
	font-size: 0.8rem;
	margin-left: 10px;
}
.starDate>i{
	color: coral;
}

@keyframes heartBeat {
    0%{
        color: white;
        transform: none;
    }
    50%{
        color: rgb(216, 82, 212);
        transform: scale(1.5);
    }
    100%{
        color: white;
        transform: none;
    }
}

.saveLesson:hover i {
    will-change: transform;
    /* 애니메이션을 안정적으로 보이도록 브라우저를 도와준다. */
    /* 브라우저에게 어떤 것이 변할 것인지 예고해주는것 */
    /* 그래픽 카드를 이용해서 애니메이션을 가속화 한다. */
    animation: heartBeat 1s linear infinite;
}