@charset "UTF-8";

.whole_container{
/*	border : 1px solid black;*/
	
}

.menu_bar{
/*	border:1px solid red;*/
	height: 100vh;
	width: 350px;
	float : left;
	padding-left: 2%;
}

.board_list{
/*	border:1px solid blue;*/
	width : 600px;
	height: 400px;
	
}

.board_container{
	display: flex;
/*	border:1px solid purple;*/
	 justify-content: space-around;
	
}

.toggle1{
/* background-color: rgb(255, 199, 23);*/
 cursor : pointer;
 
 }