@charset "UTF-8";

section{
	display: flex;
	height: 90vh;
  	justify-content: center;
  	align-items: center; 
	font-family: 'Hi Melody', sans-serif;
  	font-size: 15px;
}

span{
	font-size: 19px;
}

.title_span{
	font-weight: bold;
	font-size: 21px;
}


.boardContainer{
	height: 80vh;
	display: flex;
/*	border:1px solid purple; */
	flex-direction:column;	
	justify-content: space-around;
	border: 1px solid #ddd;
 	background-color: #f9f9f9;
 	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 	width: 100%;
}

.boardContainer > div{
	margin: 15px;
	text-align: center;
	

}

.part_container{
	margin-right:20px;
/*	border: 1px solid red;*/
}

.part_table td{
/*    border:1px solid rgb(139, 99, 183);*/
    width : 100px;
    height: 50px;
   
}

.part_table tr{
/*    border:1px solid blue;*/

} 

.part_container{
	padding-left: 5%;
}

.loc_table{
	
	margin-left: 33%;
}

.part_table tr>td:hover{
        cursor : pointer;
        color:rgb(250, 112, 61);
        font-weight: bold;
    }

.selected{
	color : rgb(240, 182, 9); 
	font-weight :bold;
}

#board_end{
    cursor : pointer;
    background-color: rgb(240, 182, 9);
    border-radius: 10%;
    width: 100px;
    height: 40px;
    border: none;
    color:white;
    font-size: 19px;
}

#board_end:hover{
    cursor : pointer;
    background-color: rgb(232, 94, 24);
    width: 100px;
    height: 40px;
    border: none;
    color:white;
    border-radius: 10%;
}


input[type="text"] {
    border-color:rgb(196, 196, 196);
  }