@charset "UTF-8";

section{
	display: flex;
	height: 90vh;
  	justify-content: center;
  	align-items: center; 
	margin-left: 33%;
	margin-right: 30%;
	font-family: 'Hi Melody', sans-serif;
  	font-size: 20px;
}

.enroll_container{
	height: 75vh;
	width: 70vh;
	display: flex;
/*	border:1px solid purple; */
	flex-direction:column;	
	justify-content : center;
	align-items: center;
	border: 1px solid #ddd;
 	background-color: #f9f9f9;
 	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	 
}

.enroll_container > div{
	margin: 15px;
}

.submit_container{
/*	border:1px solid blue;*/
	display: flex;
	width : 100%;
	padding-left : 70%;
}

#submit{
    cursor : pointer;
    background-color: rgb(218, 106, 65);
    width: 100px;
    height: 40px;
    border: none;
    color:white;
    border-radius: 10%;
}

#submit:hover{
    cursor : pointer;
    background-color: rgb(232, 72, 13);
    width: 100px;
    height: 40px;
    border: none;
    color:white;
    border-radius: 10%;
}


.single_chk_span:hover{
    cursor : pointer;
    color:rgb(250, 112, 61);
    font-weight: bold;
}


.selected{
	color : orange;
	font-weight : bold;
}