@charset "UTF-8";

.enroll_container{
	height: 75vh;
	display: flex;
/*	border:1px solid purple; */
	flex-direction:column;	
	justify-content : center;
	 align-items: center;
}

.enroll_container > div{
	margin: 15px;
}

.submit_container{
/*	border:1px solid blue;*/
	display: flex;
	width : 100%;
	padding-left : 70%;
}

input[type=button]{
    cursor : pointer;
    background-color: rgb(218, 106, 65);
    width: 100px;
    height: 40px;
    border: none;
    color:white;
    border-radius: 10%;
}

input[type=button]:hover{
    cursor : pointer;
    background-color: rgb(232, 72, 13);
    width: 100px;
    height: 40px;
    border: none;
    color:white;
    border-radius: 10%;
}


.single_chk_span:hover{
    cursor : pointer;
    color:rgb(250, 112, 61);
    font-weight: bold;
}


.selected{
	color : orange;
	font-weight : bold;
}